.App {
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: lightseagreen;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.no-data {
  width: 500px;
  height: 150px;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.534);
  color: rgba(255, 255, 255, 0.952);
  font-size: 40px;
  line-height: 150px;
  text-align: center;
}

.error {
  background-color: #f4cccc;
}